[submodule "MIB-circuit-track"]
	path = MIB-circuit-track
	url = https://github.com/hannamw/MIB-circuit-track
[submodule "MIB-causal-variable-track/CausalAbstraction"]
	path = MIB-causal-variable-track/CausalAbstraction
	url = https://github.com/atticusg/CausalAbstraction